<template>
  <p class="log">
    {{contents}}
  </p>
</template>
<script>
  export default {
      props: ["entry"],
      data: function() {
          return {
              contents: "",
              lines: [],
              limit: 100
          }
      },
      watch: {
          entry: function(newVal) {
              var value = newVal && newVal.trim();
              if(!value) {
                  return;
              }
              this.lines.push(value);
              if(this.lines.length > this.limit) {
                  this.lines.shift();
              }
              this.contents = this.lines.join('\n');
          }
      }
  }
</script>
<style scoped>
  .log {
      display: block;
      border-width: 2px;
      background-color: #f4f4f4;
      border-style: solid;
      padding: 0.5em 0 0.5em;
      margin: 1.5em 0;
      position: relative;
      font-size: 12px;
      font-family: monospace;
      white-space: pre-wrap;
      text-align: left;
      height: 150px;
      overflow: auto;
}
</style>
