<template>
  <div>
    <label>
      <span class="prompt">Remote Modem ID:</span>
      <input type="number" v-model.number="remoteaddr"
             v-tooltip.top="'Type modem ID and press Enter key'"
             @keyup.enter="$emit('set-remote', remoteaddr)"
             min="2"
             max="249"
             step="1">
    </label>
    <button
      type="button"
      class="small-button"
      v-bind:disabled="state == 'command' || !connected"
      v-on:click="commandMode()">Command Mode</button>
    <button
      type="button"
      class="small-button"
      v-bind:disabled="state == 'online' || !connected"
      v-on:click="onlineMode()">Online Mode</button>

  </div>
</template>
<script>
  export default {
      props: ["state", "connected"],
      data: function() {
          return {
              remoteaddr: ""
          }
      },
      methods: {
          onlineMode: function() {
              window.backend.Modem.Connect(this.remoteaddr);
          },
          commandMode: function() {
              window.backend.Modem.Disconnect();
          }
      }
  }
</script>
<style scoped>
  div:first-of-type {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      justify-content: flex-start;
  }
  label {
      font-size: 80%;
  }
</style>
