<template>
  <fieldset>
    <legend @click="toggle">Manual Command <span>[{{ visible ? '-' : '+'}}]</span></legend>
    <div v-show="visible">
      <input type="text" class="cmd" autofocus
             autocomplete="off"
             placeholder="Enter modem command"
             v-model="newCmd"
             @keyup.enter="sendCmd">
      <p class="response">
        {{response}}
      </p>
    </div>
  </fieldset>
</template>
<script>
  export default {
      data: function() {
          return {
              newCmd: "",
              response: "",
              visible: false,
          };
      },
      methods: {
          toggle: function() {
              this.visible = !this.visible;
          },
          sendCmd: function() {
              var value = this.newCmd && this.newCmd.trim();
              if (!value) {
                  return;
              }
              var self = this;
              window.backend.Modem.SendCmd(value).then(result => {
                  self.response = result;
                  self.newCmd = "";
              }).catch(e => {
                  self.$alert(`SendCmd(${value}) failed: ${e}`,
                              "Error", "error");
              });
          }
      }
  }
</script>
<style scoped>
legend {
    cursor: pointer;
}
input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #131313;
}

input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #131313;
}

input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #131313;
}

.cmd,
.edit {
    position: relative;
    margin: 8px;
    width: 50%;
    font-size: 14px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 3px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cmd {
    padding: 8px 8px 8px 30px;
    background-color: #f4f4f4;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.response {
  display: block;
  border-width: 2px;
  background-color: #f4f4f4;
  border-style: solid;
  padding: 0.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  font-size: 12px;
  font-family: monospace;
  white-space: pre-wrap;
  text-align: left;
  height: 50px;
  overflow: auto;
}
</style>
