<template>
  <fieldset>
    <legend>Deployment Status</legend>
    <div v-if="Object.keys(status).length > 0">
      <div class="param">
        <span class="key">Time:</span>
        <span class="value">{{status.time|fromSecs}}</span>
      </div>
      <div class="param">
        <span class="key">Pressure:</span>
        <span class="value">{{status.pressure|scaleStatus(3)}} m</span>
      </div>
      <div class="param">
        <span class="key">Temperature:</span>
        <span class="value">{{status.temperature|scaleStatus(2)}} &#8451;</span>
      </div>
      <div class="param">
        <span class="key">Pitch:</span>
        <span class="value">{{status.pitch|scaleStatus(1)}} &#176;</span>
      </div>
      <div class="param">
        <span class="key">Roll:</span>
        <span class="value">{{status.roll|scaleStatus(1)}} &#176;</span>
      </div>
      <div class="param">
        <span class="key">Speed:</span>
        <span class="value">{{status.speed|scaleStatus(2)}} m/s</span>
      </div>
    </div>
    <div class="button-box">
      <button
        type="button"
        v-bind:disabled="!enabled"
        class="small-button"
        v-on:click="getStatus()">Get Status</button>
    </div>
    <div class="button-box">
      <label>
      <span class="prompt">Interval (sec):</span>
      <input type="number" v-model.number="interval"
             v-tooltip="'Enter status refresh interval and press the Enable button'"
             min="10"
             max="300"
             step="1">
      </label>
      <button v-if="!refreshEnabled"
              type="button"
              class="small-button"
              v-on:click="enableRefresh(interval*1000)">Enable Refresh</button>
      <button v-else
              type="button"
              class="small-button"
              v-on:click="disableRefresh()">Disable Refresh</button>
    </div>
  </fieldset>
</template>
<script>
  export default {
      data: function() {
          return {
              enabled: true,
              status: {},
              refreshEnabled: false,
              ticker: null,
              interval: 120,
          };
      },
      methods: {
          getStatus: function() {
              var self = this;
              this.enabled = false;
              window.backend.Modem.GetStatus().then(result => {
                  self.enabled = true;
                  self.status = result;
              }).catch(e => {
                  self.enabled = true;
                  self.$alert(`GetStatus() failed: ${e}`,
                              "Error", "error");
              });
          },
          enableRefresh: function(interval) {
              if(interval < 10000) {
                  this.$alert("Minimum refresh time is 10 seconds",
                              "Error", "error");
                  return;
              }

              var self = this;
              this.enabled = false;
              this.refreshEnabled = true;
              const f = function() {
                  window.backend.Modem.GetStatus().then(result => {
                      self.status = result;
                  }).catch(e => {
                      self.$alert(`GetStatus() failed, refresh disabled: ${e}`,
                                  "Error", "error");
                      self.disableRefresh();
                  });
              };
              f();
              this.ticker = setInterval(f, interval);
          },
          disableRefresh: function() {
              if(this.ticker) {
                  clearInterval(this.ticker);
                  this.ticker = null;
                  this.enabled = true;
                  this.refreshEnabled = false;
              }
          },
      },
      filters: {
          scaleStatus: function(x, n) {
              return Number.parseFloat(x*0.001).toFixed(n);
          },
          fromSecs: function(secs) {
              let d = new Date();
              d.setTime(secs*1000);
              return d.toISOString();
          },
      },
      beforeDestroy: function() {
          this.disableRefresh();
      }
  }
</script>
<style scoped>
  .param {
      display: flex;
      align-items: center;
      width: 400px;
  }
  .key {
      font-weight: bold;
  }
  .value {
      text-align: left;
      margin-left: 2.5em;
  }
  .button-box {
      display: flex;
      align-items: center;
      width: 300px;
      margin-top: 0.5em;
      justify-content: flex-start;
  }
</style>
