<template>
  <fieldset v-bind:disabled="!enabled">
    <legend>{{title}}</legend>
    <div>
      <label for="tx-rate">Tx Rate:</label>
      <select id="tx-rate" v-model="tx.rate">
        <option value="1">80 bps</option>
        <option value="2">140 bps</option>
        <option value="3">300 bps</option>
        <option value="4">600 bps</option>
        <option value="5">800 bps</option>
        <option value="6">1066 bps</option>
        <option value="7">1200 bps</option>
        <option value="8">2400 bps</option>
      </select>
      <button
        type="button"
        class="small-button"
        v-on:click="$emit('set-rate', tx.rate)">Set Rate</button>
    </div>
    <div>
      <label for="tx-power">Tx Power:</label>
      <select id="tx-power" v-model="tx.power">
        <option value="1">-21 dB</option>
        <option value="2">-18 dB</option>
        <option value="3">-15 dB</option>
        <option value="4">-12 dB</option>
        <option value="5">-9 dB</option>
        <option value="6">-6 dB</option>
        <option value="7">-3 dB</option>
        <option value="8">Max</option>
      </select>
      <button
        type="button"
        class="small-button"
        v-on:click="$emit('set-power', tx.power)">Set Power</button>
    </div>
    <div v-if="title == 'Remote'">
      <button
        type="button"
        class="small-button"
        v-on:click="$emit('get-range')">Get Range</button><span>{{range}} meters</span>
    </div>
  </fieldset>
</template>
<script>
  export default {
      props: ["rate", "power", "title", "enabled", "range"],
      data: function() {
          return {
              tx: {rate: this.rate, power: this.power}
          }
      },
      watch: {
          rate: function(newVal) {
              this.tx.rate = newVal;
          },
          power: function(newVal) {
              this.tx.power = newVal;
          }
      }
  }
</script>
<style scoped>
  div:first-of-type {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      justify-content: flex-start;
  }
  label {
      font-size: 80%;
  }
  select {
      font-size: 80%;
  }
</style>
