<template>
  <div id="app">
    <fieldset v-if="!isSetup">
      <div v-if="ports.length > 0">
        <legend>Modem Port</legend>
        <label for="serial-port">Serial:</label>
        <select id="serial-port" v-model="serialPort">
          <option disabled value="">Select one</option>
          <option v-for="port in ports" v-bind:value="port" v-bind:key="port">
            {{port}}
          </option>
        </select>
      </div>
      <label for="tcp-port">TCP:</label>
      <input v-model="tcpPort" placeholder="host:port">
      <input type="checkbox" id="atmtype"
             v-tooltip.top="'Check this box when using an older deck-box'"
             v-model="isAtm89x">
      <label for="atmtype">Using ATM-89x modem</label>
      <button
        type="button"
        class="small-button"
        v-on:click="connectModem(serialPort || tcpPort, isAtm89x)">Connect</button>
    </fieldset>
    <ModemState
      v-if="isSetup"
      v-bind:state="state"
      v-bind:connected="remoterdy"
      v-on:set-remote="setRemote($event)"/>
    <TxSettings
      v-if="isSetup && state == 'command'"
      v-bind:title="'Local'"
      v-bind.sync="tx"
      v-bind:enabled="localrdy"
      v-on:set-rate="setRate($event)"
      v-on:set-power="setPower($event)"/>
    <TxSettings
      v-if="isSetup && state == 'command'"
      v-bind:title="'Remote'"
      v-bind.sync="remoteTx"
      v-bind:enabled="remoterdy"
      v-bind:range="remoteRange"
      v-on:get-range="getRange(remoteAddr)"
      v-on:set-rate="setRemoteRate($event, remoteAddr)"
      v-on:set-power="setRemotePower($event, remoteAddr)"/>
    <SendCommand v-if="isSetup && state == 'command'"/>
    <Status v-if="isSetup && state == 'online'"/>
    <ShellCommand v-if="isSetup && state == 'online'"/>
    <CommLog v-bind:entry="logEntry"/>
  </div>
</template>

<script>
  import SendCommand from "./components/SendCommand.vue";
  import ShellCommand from "./components/ShellCommand.vue";
  import ModemState from "./components/ModemState.vue";
  import TxSettings from "./components/TxSettings.vue";
  import CommLog from "./components/CommLog.vue";
  import Status from "./components/Status.vue";
  import "./assets/css/main.css";
  import * as Wails from '@wailsapp/runtime';

export default {
    name: "app",
    data: function() {
        return {
            isSetup: false,
            ports: [],
            serialPort: "",
            tcpPort: "",
            state: "",
            remoteAddr: "",
            tx: null,
            remoteTx: null,
            localrdy: false,
            remoterdy: false,
            range: {start: null, end: null},
            logEntry: "",
            remoteRange: 0,
            isAtm89x: false,
        };
    },
    filters: {
        timeString: function(d) {
            let val = d.toTimeString().split(' ')[0];
            return `[${val}] `;
        },
    },
    components: {
        SendCommand, ModemState, TxSettings, CommLog, ShellCommand, Status
    },
    methods: {
        connectModem: function(port, isOld) {
            var self = this;
            window.backend.Modem.Setup(port, isOld).then(() => {
                self.isSetup = true;
                self.state = "command";
                window.backend.Modem.LocalTx().then(result => {
                    self.tx = result;
                    self.localrdy = true;
                }).catch(e => {
                    self.$alert(`Local modem not responding: ${e.message}`,
                                "Error", "error");
                });
            }).catch(e => {
                self.$alert(`Cannot connect to modem at ${port}: ${e}`,
                            "Error", "error");
            });
        },
        setPower: function(val) {
              var cmd = `ATS6=${val}`;
              var self = this;
              window.backend.Modem.SendCmd(cmd).then(() => {
                  self.tx.power = val;
              }).catch(e => {
                  self.$alert(`Local modem not responding: ${e}`,
                                  "Error", "error");
              });
          },
          setRate: function(val) {
              var cmd = `ATS4=${val}`;
              var self = this;
              window.backend.Modem.SendCmd(cmd).then(() => {
                  self.tx.rate = val;
              }).catch(e => {
                  self.$alert(`Local modem not responding: ${e}`,
                                  "Error", "error");
              });
          },
          setRemotePower: function(val, addr) {
              var cmd = `AT$P${addr},${val}`;
              var self = this;
              window.backend.Modem.SendCmd(cmd).then(() => {
                  self.remoteTx.power = val;
              }).catch(e => {
                  self.$alert(`Remote modem not responding: ${e}`,
                                  "Error", "error");
              });
          },
          setRemoteRate: function(val, addr) {
              var cmd = `AT$A${addr},${val}`;
              var self = this;
              window.backend.Modem.SendCmd(cmd).then(() => {
                  self.remoteTx.rate = val;
              }).catch(e => {
                  self.$alert(`Remote modem not responding: ${e}`,
                                  "Error", "error");
              });
          },
          getRange: function(addr) {
              var self = this;
              window.backend.Modem.Range(addr).then(result => {
                  self.remoteRange = result;
              }).catch(e => {
                  self.$alert(`Remote modem not responding: ${e}`,
                                  "Error", "error");
              });
          },
          setRemote: function(addr) {
              var self = this;
              window.backend.Modem.RemoteTx(addr)
                  .then(result => {
                      self.remoteTx = result;
                      self.remoterdy = true;
                      self.remoteAddr = addr;
                  })
                  .catch(e => {
                      self.$alert(`Remote modem at address ${addr} not responding: ${e}`,
                                  "Error", "error");
                  });
          },
    },
    created: function() {
        var self = this;
        window.backend.Modem.IsSetup().then(result => {
            if(result) {
                self.isSetup = true;
                self.state = "command";
                window.backend.Modem.LocalTx().then(result => {
                    self.tx = result;
                    self.localrdy = true;
                }).catch(e => {
                    self.$alert(`Local modem not responding: ${e.message}`,
                                "Error", "error");
                });
            } else {
                self.isSetup = false;
                window.backend.Ports.GetList().then(result => {
                    self.ports = result;
                });
            }
        });
        Wails.Events.On("mode", value => {
            self.state = value;
            console.log("modem state = " + value);
        });
        Wails.Events.On("send", value => {
            let d = new Date();
            self.logEntry = "<- " + self.$options.filters.timeString(d) + value;
        });
        Wails.Events.On("receive", value => {
            let d = new Date();
            self.logEntry = "-> " + self.$options.filters.timeString(d) + value;
        });
    },
};
</script>
<style>
button {
    cursor: pointer;
    text-align: center;
    opacity: 1;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border-width: 1px;
    border-style: solid;
    border-color: #0f0f0f;

    height: 70px;
    width: 140px;
    cursor: pointer;
    font: bold 1em/1.5em Arial, Helvetica;
    margin: 0.5em;
}

button[disabled] {
    opacity: 0.3;
}

.small-button {
    height: 50px;
    width: 100px;
    font-size: 66%;
    line-height: 1.2em;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
  max-width: 250px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

</style>
